<div class="info-container">
  <div *ngIf="angularFireAuth.user | async as user; else showLogin">
    <div *ngFor="let technology of technologies">
      <mat-card class="info-card">
        <mat-card-content>
          <h1>
            <img [src]="technology.logo">
            <span>{{technology.name}}</span>
          </h1>
          <p>{{technology.description}}</p>
        </mat-card-content>
        <mat-card-actions fxLayout="row" fxLayoutAlign="end">
          <a color="primary" [href]="technology.url" target="_blank" mat-button>{{technology.name}}</a>
        </mat-card-actions>
      </mat-card>
      <br/>
    </div>
  </div>

  <ng-template #showLogin>
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <h1 [ngStyle.xs]="{'font-size.px': 18}">
        <img src="../../assets/angular.svg">
        <span>Angular</span>
        <img class="vision-logo" src="../../assets/google-vision..jpg">
        <span>Cloud Vision</span>
      </h1>
      <button mat-stroked-button color="accent" (click)="login()">Login with Google</button>
    </div>
  </ng-template>
</div>
